* {
    padding: 0;
    margin: 0;
    --border-width: 2px;
    --black-width: 36px;
    --white-width: 50px;
    --black-margin: calc(var(--white-width) / 2 - (var(--black-width) / 2 - var(--border-width)));
}

body {
    background-color: darkslategrey;
}

.container {
    display: flex;
    justify-content: center;
    margin: 15%;
    position: relative;
}

.white-keys kbd {
    background-color: white;
    display: inline-block;
    width: var(--white-width);
    padding: 160px 0 20px 0;
    border: black solid var(--border-width);
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
    float: left;
}

.white-keys kbd:active {
    background-color: gray;
}

.white-keys kbd::selection {
    background: white;
}

.white-keys {
    position: absolute;
    text-align: center;
}

.black-keys {
    position: absolute;
    text-align: center;
}

.black-keys kbd {
    background-color: black;
    display: inline-block;
    width: var(--black-width);
    color: white;
    padding: 80px 0 30px 0;
    z-index: 2;
    float: left;
    margin: 0 var(--black-margin);
}

.black-keys kbd:nth-child(2) {
    margin-right: calc(var(--black-margin) * 2 + var(--black-width) / 2);
}

.black-keys kbd:nth-child(3) {
    margin-left: calc(var(--black-margin) * 2 + var(--black-width) / 2);
}